<script src="/javascripts/moment.js" charset="utf-8"></script>

<script type="text/javascript">
  moment.locale('zh-cn');
  var fingerprint = new Fingerprint().get();
  console.log(fingerprint);
</script>
<div class="container">
  <div class="" style="display: flex;
    justify-content: space-between;align-items: center;">
      <img src="/images/taosimico.png" alt="" style="" class="mobile-header-image">
    <div class="">

      <h2>道杂货</h2>
      <h4>Simon在打磨博客</h4>
    </div>
    <div class="hide-lg" style="text-align:right;">
      <a href="/users/me">
        <% if session[:userId].nil? %>
          登录
          <% else %>
            个人中心
        <% end %>

      </a>
      <br><br><br>
      <div class="input-group">
        <input type="text" class="form-input" placeholder="标签 内容 标题" />
        <button class="btn btn-primary input-group-btn">搜索</button>
      </div>
    </div>
  </div>

  <hr>
  <div class="container">
    <br><br>
    <div class="timeline">
      <% @versions.each do |version| %>

            <div class="timeline-item" id="timeline-example-1">
              <% if version.status === "draft" %>
              <div class="timeline-left icon-lg">
                <a href="#timeline-example-1" class="timeline-icon tooltip" data-tooltip="2017年７月21日凌晨"></a>
              </div>
                <% else %>
                <div class="timeline-left">
                  <a href="#timeline-example-2" class="timeline-icon icon-lg tooltip" data-tooltip="February 2017">
                    <i class="icon icon-check"></i>
                  </a>
                </div>
                  <% end %>
                  <div class="timeline-content">
                    <div class="tile">
                      <div class="tile-content">
                        <p class="tile-subtitle">
                          <script type="text/javascript">
                            var date_update = "<%=version.post ? version.post.updated_at.to_s : "" %>";
                            document.write(moment(date_update).fromNow());
                          </script>
                        </p>
                        <p class="tile-title"><%=version.post ? version.post.title : ""%></p>
                        <p class="tile-title"><%=version.name%></p>
                        <p class="tile-title"><a href="components.html#steps">Steps</a>: progress indicators of a sequence of task steps</p>
                        <p class="tile-title"><a href="components.html#tiles">Tiles</a>: repeatable or embeddable information blocks</p>
                      </div>
                      <div class="tile-action">
                          <% if version.status === "draft" %>
                          <span id="<%= version.id %>support-number"><%=version.wish_write ?  version.wish_write : "0" %></span>
                          <button data-id="<%= version.id %>" class="btn support-btn">支持</button>

                          <% else %>
                          <a href="/posts/read/<%= version.post.id %>" data-id="<%= version.post.id %>" class="btn view-btn">开始阅读</a>
                        <% end %>
                      </div>
                    </div>
                  </div>
            </div>


      <% end %>


                  </div>
  </div>


</div>
<br><br>
<ul class="pagination">

  <%if @page > 1 and @page > 2%>
  <li class="page-item">
    <a href="?page=<%=(@page-1).to_s%>">上一页</a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page-2).to_s%>"><%=@page-2%></a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page-1).to_s%>"><%=@page-1%></a>
  </li>


  <% end %>
  <%if @page > 1 and @page <=2 %>
  <li class="page-item">
    <a href="?page=<%=(@page-1).to_s%>">上一页</a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page-1).to_s%>"><%=@page-1%></a>
  </li>


  <% end %>

  <li class="page-item active">
    <a href="?page=<%=@page.to_s%>"><%=@page%></a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page+1).to_s%>"><%=(@page+1).to_s%></a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page+2).to_s%>"><%=(@page+2).to_s%></a>
  </li>
  <li class="page-item">
    <a href="?page=<%=(@page+1).to_s%>">下一页</a>
  </li>
</ul>
<script type="text/javascript">
  $(document).ready(function(){
    $(".support-btn").click(function(){
      var id = $(this).attr('data-id');
      $.get('version/support/'+id+'/'+fingerprint, function(data){
        if (data == "already") {
          alert("您只能支持一篇草稿的进行")
        }else{
          $("#"+id+"support-number").html(data);
        }
      })
    });
  })
</script>
