<style media="screen">
  .article-card{
    min-width: 215px;
    width: 25%;
    padding: 12px;
  }
</style>
<div class="container"style="display: flex;
    align-items: center;
    align-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;">
<% @versions.each do |version| %>
  <div class="card article-card">
    <div class="card-image">
      <img src="/images/random<%=rand(1..13)%>.jpg" class="img-responsive" />
    </div>
    <div class="card-header">
      <h4 class="card-title"><%= version.post.title %></h4>
      <h6 class="card-subtitle"><%= version.name %></h6>
    </div>
    <div class="card-body" style="word-break: break-all;">
      <%= version.post.body[0,100].html_safe() %>
    </div>
    <div class="card-footer">
      <a href="/posts/read/<%=version.post.id %>" class="btn btn-primary">阅读</a>
    </div>
  </div>

<% end %>
<br><br>

</div>
<ul class="pagination">

  <%if @page > 1 and @page > 2%>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page-1).to_s%>">上一页</a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page-2).to_s%>"><%=@page-2%></a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page-1).to_s%>"><%=@page-1%></a>
  </li>


  <% end %>
  <%if @page > 1 and @page <=2 %>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page-1).to_s%>">上一页</a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page-1).to_s%>"><%=@page-1%></a>
  </li>


  <% end %>

  <li class="page-item active">
    <a href="/posts/<%=@order+'/'+@page.to_s%>"><%=@page%></a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page+1).to_s%>"><%=(@page+1).to_s%></a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page+2).to_s%>"><%=(@page+2).to_s%></a>
  </li>
  <li class="page-item">
    <a href="/posts/<%=@order+'/'+(@page+1).to_s%>">下一页</a>
  </li>
</ul>
