<!-- Include external CSS. -->
   <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="/stylesheets/codemirror.min.css">

   <!-- Include Editor style. -->
   <link href="/editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
   <link href="/editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />

<h5 style="text-align: center;">编辑文章</h5>
<ul class="tab tab-block">
  <li class="tab-item">
    <a href="/users/me">文章</a>
  </li>
  <li class="tab-item active">
    <a href="/posts/new" class="">更新</a>
  </li>
  <li class="tab-item">
    <a href="#">资料</a>
  </li>
  <li class="tab-item">
    <a href="#">功能</a>
  </li>

</ul>
    <div class="form-group" style="text-align:center;">

        <label class="form-label" for="input-title">文章标题</label>

        <input name="username" value="<%= @post.title %>" class="form-input" type="text" id="input-title" placeholder="文章标题" />
      <br>
      <h4>文章正文</h4>

    </div>
<!-- Create a tag that we will use as the editable area. -->
    <!-- You can use a div tag as well. -->
    <textarea><%= @post.body %></textarea>
    <div class="">
      <button type="button" class="save-next btn btn-primary">保存并下一步</button>
      <a type="button" class="post-preview btn btn-primary">预览</a>
    </div>

    <br><br>


    <!-- Include external JS libs. -->
    <script type="text/javascript" src="/javascripts/codemirror.min.js"></script>
    <script type="text/javascript" src="/javascripts/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="/editor/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>

    $(function() {
      $(".post-preview").hide();
      var post =  {
        post_title: "<%= @post.title %>",
        post_text: "<%= @post.body %>",
        id: "<%= @post.id %>"
      }

      var savePost = function(post, is_next){
        $.post("/users/save_draft", {post}, function(data){

          post.id = JSON.parse(data).post_id;

          if (is_next) {
            window.location.assign("/tag_a_post/"
            +JSON.parse(data).post_id
            +"/version/"+JSON.parse(data).post_version);
          }
        })
      }
      $('textarea').froalaEditor();

      $(".save-next").click(function(){
        var post_text = $('textarea').froalaEditor('html.get');
        var post_title = $("#input-title").val();
        if (post_title == "") {
          alert('标题不能为空');
          return false;
        }
        if (post_text == "") {
          alert('文章内容不能为空');
          return false;
        }
        post.post_title = post_title;
        post.post_text = post_text;
        savePost(post, true);

      });
      setInterval(function(){
        console.log("正在检测是否要保存");
        if (post.id != "") {
          $(".post-preview").show(function(){
            $(this).attr("href", "/users/preview/"+post.id);
          });

        }
        var post_text = $('textarea').froalaEditor('html.get');
        var post_title = $("#input-title").val();
        post_new = {
          post_title,
          post_text
        }
        if (post_text.length <= 200) {
          return false;
        }
        if (post_title === "") {
          return false;
        }
        var post_text = $('textarea').froalaEditor('html.get');

        if (JSON.stringify(post) == JSON.stringify(post_new)) {
          post = post_new;
          return false
        }else{
          post.post_title = post_title;
          post.post_text = post_text;
          savePost(post, false);
        }


      },3000)
    });
    </script>
