<h5 style="text-align: center;">准备您的文章</h5>
<ul class="tab tab-block">
  <li class="tab-item">
    <a href="/users/me">文章</a>
  </li>
  <li class="tab-item active">
    <a href="/posts/new" class="">新</a>
  </li>
  <li class="tab-item">
    <a href="#">资料</a>
  </li>
  <li class="tab-item">
    <a href="#">功能</a>
  </li>

</ul>
<div class="container">
  <form class="add-tag-form">
    <div class="input-group">
      <span class="input-group-addon addon-lg">添加标签</span>
      <input type="text" class="form-input input-lg" placeholder="一次输入一个">
      <button class="btn btn-primary input-group-btn btn-lg">添加</button>
    </div>
    <div class="form-group" style="text-align:center;">
      <label class="form-checkbox">
        <input type="checkbox" <%=@post.version.promotion ? "checked" : "" %>/>
        <i class="form-icon"></i>是否列为推荐
      </label>
    </div>

  </form>
  <div class="tags-container">

  </div>
  <br>
  <div class="" style="display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;">
    <button class="btn btn-primary input-group-btn btn-lg publish-btn">发布</button>
    <div class="loading"></div>
    <% if @post.version.status == "draft"%>
    <button class="btn btn-primary input-group-btn btn-lg save-draft-btn">保存草稿</button>
    <% end %>

  </div>


</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".loading").hide();
    var tags = [];  var tags_html = "";
    <% @post.tags.each do |tag| %>
        tags.push("<%= tag.name %>");
        tags_html+='<label class="chip">'+'<%=tag.name %>'+'<button class="btn btn-clear"></button></label>&nbsp;'
    <% end %>
    console.log(tags);
    $(".tags-container").html(tags_html);
    $(".btn.btn-clear").bind("click", function(){
      tags.pop();
      $(this).parent().remove();
    })
    var promotion = <%=@post.version.promotion.blank? ? false : @post.version.promotion %>;
    $("input[type='checkbox']").change(function(){
      promotion = !promotion;
      console.log(promotion);
    })
    $(".add-tag-form").submit(function(){
      tags_html = "";
      var tag = $(this).find("input").val();
      if (tag == "") {
        alert("不能空哦");
        return false;
      }

      for (var i = 0; i < tags.length; i++) {
        if (tags[i] == tag) {
          alert("此标签已有");
          $(this).find("input").val("");
          return false
        }


      }
      tags.push(tag);
      for (var i = 0; i < tags.length; i++) {
          tags_html+='<label class="chip">'+tags[i]+'<button class="btn btn-clear"></button></label>&nbsp;'

      }



      $(".tags-container").html(tags_html);
      $(".btn.btn-clear").bind("click", function(){
        tags.pop();
        $(this).parent().remove();
      })
      tags_html = "";
      console.log(tags);
      $(this).find("input").val("");

      return false;
    });

    $(".publish-btn").click(function(){
      $(this).css("visibility","hidden");

      $(".loading").show();
      $.post("/posts/publish",
      {tags, id: "<%= @post.id%>", promotion}, function(data){

          window.location.assign("/users/me")

      })
    });

    $(".save-draft-btn").click(function(){
      $(this).css("visibility","hidden");
      console.log(tags);
      $(".loading").show();
      var post =  {
        post_title: "<%= @post.title %>",
        post_text: "<%= @post.body %>",
        id: "<%= @post.id %>"
      }

      $.post("/users/save_draft", {post}, function(data){

          window.location.assign("/users/me");

      })
    });


  })
</script>
